.feld-code-pre {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1em;
  overflow: auto;
  font-family: 'Courier New', Courier, monospace;
}

.feld-code-pre code {
  font-family: inherit;
} 