.feld-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.feld-layout-header,
.feld-layout-footer {
  flex-shrink: 0;
}

.feld-layout-body {
  display: flex;
  flex: 1;
}

.feld-layout-main {
  flex: 1;
}

.feld-layout-side {
  width: 240px;
  flex-shrink: 0;
}
