.panel {
  padding: 1rem;
  border-radius: 0.5rem;
}

.panel-default {
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
}

.panel-outline {
  background-color: transparent;
  border: 1px solid #e0e0e0;
}

.panel-ghost {
  background-color: transparent;
  border: none;
} 